# Pandas  Series

In [1]:
import pandas as pd

### Checking The Version of Pandas

In [2]:
pd.__version__

'1.4.2'

### Creating Series from a List

In [7]:
list_s = [1, 2, -3, 6.2, 'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [8]:
# Creation of Pandas Series
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [10]:
type(series1) # to confirm that this is a Pandas-Series..

pandas.core.series.Series

In [12]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9844\3878301290.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

### Another Parameters of ```pd.Series()``` function
#### SYNTAX : ```pd.Series([list_name], index = [index_list], dtype = data_type, name = 'label_name')```

In [13]:
# Creating Series with specific index..
series3 = pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
# Index length should have equal to the number of data values, otherwise, it will show ValueError
series3 = pd.Series([1,2,3,4], index = ['a', 'b', 'c'])

ValueError: Length of values (4) does not match length of index (3)

In [19]:
# Changing the datatype of the given list..

# Creating a list of integers..
list_1 = [1,2,3,4]

# Changing datatype from integer to float
series3 = pd.Series(list_1, index = ['a', 'b', 'c', 'd'], dtype = float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [21]:
# Changing the label_name of data values...
series3 = pd.Series(list_1, index = ['a', 'b', 'c', 'd'], dtype = float, name = "SayanSRK's Data")
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: SayanSRK's Data, dtype: float64

### Creating series from Scalar Value

In [22]:
# Scalar values means single value, e.g.- 2, 4.3, 'sayanSRK'
scalar1 = pd.Series(0.5)
print(scalar1)

0    0.5
dtype: float64

In [23]:
# To get more than one value, we have to mention the indices..
scalar2 = pd.Series(2, index = [1,2,3,4,5])
print(scalar2)

1    2
2    2
3    2
4    2
5    2
dtype: int64

### Creating Series from a dictionary

In [25]:
series_dict = pd.Series({'a' : 2, 'b' : 4, 'c' : 6})
print(series_dict)

a    2
b    4
c    6
dtype: int64

### Accessing Elements from a Series

In [26]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64