# Pandas Dataframe

In [1]:
import pandas as pd

### Creating Empty Dataframe

In [4]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
emt_df  # We can also print dataframe just by mentioning the name..

Empty DataFrame
Columns: []
Index: []

### Creating Dataframe from List

In [6]:
lst = ['a', 'b', 'c']
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

### Creating DataFrame from List of List

In [10]:
ls_of_ls = [[1,2,3], [2,3,4], [4,5,6]]
df2 = pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

### Creating DataFrame from Dictionary

In [12]:
dict1 = {'ID':[11,22,33,44]}
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [16]:
dict1 = {'ID':[11,22,33,44], 'Marks':[92, 93, 94, 91]}
df3 = pd.DataFrame(dict1)
df3

   ID  Marks
0  11     92
1  22     93
2  33     94
3  44     91

In [19]:
# All the Arrays in the list/dictionary should have same length otherwise it will show ValueError..
dict1 = {'Id':[11,22,33,44], 'Marks':[48, 49, 45]}
df = pd.DataFrame(dict1)
df

ValueError: All arrays must be of the same length

### Creating DataFrame from List of Dictionaries

In [22]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [21]:
# in the case of List of Dictionaries, the Unequal Dictionaries will not show Error..
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

### Creating DataFrame from Dictionary of Series

In [25]:
dict_sr = {'Id':pd.Series([1,2,3]), 'Marks': pd.Series([75,84,61])}
df6 = pd.DataFrame(dict_sr)
df6

   Id  Marks
0   1     75
1   2     84
2   3     61